.gameboard {
  min-height: calc(100svh - 60px);
  background: $bg-light;
  &__wrapper {
    max-width: 1440px;
    padding: 2rem;
    margin: 0 auto;
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  &__board {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  &__board-img {
    border: 1px solid $grey-border;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__board-img.zoom {
    width: 50%;
  }
  &__magnifier-glass {
    cursor: none;
    background-repeat: no-repeat;
    height: auto;
    width: 50%;
    position: relative;
    // 4 is the zoom strength
    background-size: calc(100%*4) calc(100%*4);
    border: 1px solid $grey-border;
  }
  &__characters {
    display: flex;
    gap: 5px;
  }
  &__character {
    height: 4rem;
    min-height: 4rem;
    max-height: 4rem;
    width: 5rem;
    border-radius: 0.2rem;
    border: 1px solid $grey-border;
    padding: 5px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__character.found {
    filter: grayscale(100%);
    background: #fefefe;
  }
  &__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    width: 100%;
  }
  &__magnifier-button {
    background: $red;
    color: $light-text;
    border-radius: 0.5rem;
    cursor: pointer;
    border: none;
    padding: 10px;
    min-width: fit-content;
    font-size: $font-xsm;
    text-align: center;
    font-family: $font-family-serif;
  }
}