.header {
  height: 80px;
  min-height: 80px;
  max-height: 80px;
  background-color: $red;
  &__wrapper {
    height: 100%;
    margin: 0 auto;
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 20px;
  }
  &__logo {
    background: $bg-white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    min-height: 30px;
    max-height: 30px;
    border-radius: 10px 10px 0 0;
    padding: 0 10px;
    box-shadow: 0 0 0 2px $red, 0 0 0 3px $red-light-border;
    transition: all .1s ease;
    &:hover {
      box-shadow: 0 0 0 2px $red, 0 0 0 3px $red-light-border, 0 0 0 4px $red, 0 0 0 5px $red-light-border;
    }
    h1 {
      text-align: center;
      font-size: $font-lg;
      font-weight: 900;
      font-family: $font-family-sans;
      a {
        text-decoration: none;
        color: $blue;
      }
      span {
        color: $red;
      }
    }
  }
  &__icon-waldo {
    align-self: flex-end;
    height: 40px;
    min-width: 40px;
    max-height: 40px;
    width: 40px;
    min-width: 40px;
    max-width: 40px;
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    min-height: 30px;
    max-height: 30px;
    width: 100%;
    background-color: $red;
    border-top: 1px solid $red-light-border;
    ul {
      display: flex;
      gap: .5rem;
      height: 100%;
    }
    li {
      list-style: none;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: $bg-white;
      font-family: $font-family-sans;
      font-size: $font-sm;
      padding: 0 1rem;
      border-radius: 4px;
      transition: all .1s ease;
      &:hover {
        background-color: $bg-white;
        color: $red;
        box-shadow: 0 0 0 2px $red, 0 0 0 3px $red-light-border;
      }
    }
    a.active {
      background-color: $bg-white;
      color: $red;
      box-shadow: 0 0 0 2px $red, 0 0 0 3px $red-light-border;
    }
  }
}