//FONT SIZES
$font-xsm: 0.75rem;
$font-sm: 0.875rem;
$font-med: 1.125rem;
$font-lg: 1.25rem;
$font-xlg: 2rem;

//COLORS
$light-text: #f7f7f7;
$grey-text: #898989;
$dark-grey-text: #202020;
$light-grey-text: #454545;
$black-text-light: #323232;
$black-text: #161616;

$bg-grey-dark: #202020;
$bg-grey: #292929;
$bg-light: #e3e3e3;
$bg-white: whitesmoke;
$bg-grey-darkest: #191919;
$bg-grey-light: #e3e3e3;

$blue: #0795c6;
$red: #d73b2a;

$grey-border: #b2b2b2;


//FONTS
$font-family-sans: 'Arsenal', sans-serif;
$font-family-serif: 'Libre Baskerville', serif;

// font-family: 'Manrope', sans-serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Open Sans', sans-serif;